# Empty CSS file for your own CSS

body {
	color: red;
}

.mockupdd-selected {
	box-shadow: 0px 0px 10px red;
}

.mockupdd-tag-container li {
	color: white;
	background-color: orange;
	padding: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: 13px;
	width: 200px;
	font-weight: bold;
	cursor: pointer;
}

.mockupdd-tag-container ul {
	list-style-type: none;
}

iframe {
	border: none;
	width: 100%;
	height: 600px;
}
